/*header*/

header {
    padding: 18% 0;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*aside*/

.menu {
    display: inline-block;
    background-color: darkgray;
    background-size: cover;
}
.menu li{
    padding-left: 85px;
    border-bottom: 1px solid floralwhite;
}
aside img {
    background-color: forestgreen;
    margin-left: 25px;
    background-size: 100%;
}
#span{
    font-size: 22px;
    color: blue;
    margin-top: 0px;
}

#top img{
    width: 70px;
    height: 70px;
}
